/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

span {
  color: #32B796;
  font-weight: bold;
}

.body-text {
  margin-top: 100px;
}

#title{
  margin:0;
  padding-top:40px;
  padding-bottom: 40px;
  font-weight:bold;
  font-family:$header-font;
  letter-spacing: 1px;
  font-size: 48px;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.navbar-wagon-fixed {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
}

.white-el{
  color: #BBBBBB;
}

.wrapper-top {
  margin: auto;
  height: 100vh;
  width:100%;
  background-size:cover;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.15) 0%, rgba(0,36,61,0.3) 50%);

}

.value-proposition{
 font-size: 16px;
 color: #9E9E9E;
 line-height: 31px;
 padding-top: 40px;
 padding-right: 32px;
 padding-left: 49px;
 padding-bottom: 29px;
 width: 100%;
 text-align: left;
 background: #f7f9fb;
 border-bottom: 1px solid rgba(1,1,1,0.1);
}

.working-process {
  padding-bottom: 14px;
}

.workflow{
  display: flex;
  justify-content: center;
  align: center;
  justify-content: space-around;
  padding-bottom: 18px;
}

.advantages{
  display: flex;
  justify-content: center;
  align: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 19px;
}

.description{
  max-width: 140px;
  font-size: 13px;
  margin: 20px auto;
}

.categorisation{
  max-width: 154px;
  font-size: 13px;
  margin: 11px auto;
  padding-bottom: 14px;
}

.benefit{
  max-width: 150px;
  margin-top: 24px;
  margin-bottom: 11px;
  font-size: 13px;
  margin: 20px auto;
}

.border-style {
    background: #f7f9fb;
    border-top: 1px solid rgba(1,1,1,0.1);
    border-bottom: 1px solid rgba(1,1,1,0.1);
}


.punchline{
  padding-top: 35px;
  color: #9E9E9E;
  font-size: 19px;
}

.call-to-action{
  padding-top: 13px;
  padding-bottom: 58px;
}

.btn{
  padding: 15px;
  font-size: 16px;
}

