<% if user_signed_in? %>
<div class="action-sheet">
  <div class="row">
    <div class="col-xs-6">
      <% if (params[:controller] == "profile" && params[:action] == "show") || params[:controller] == "subordinates/expenses"%>
      <% if current_user.is_manager || current_user.top_manager %>
        <%= link_to "Reporting", subordinates_expenses_path, class: "btn btn-default button-transform" %>
      <% end %>
      <% end %>
    </div>
    <div class="col-xs-6">
      <%= link_to 'Add', new_expense_path, class: "btn btn-success button-transform"%>
    </div>
  </div>
</div>
<% end %>
