.action-sheet {
 position: fixed;
 width: 100%;
 bottom: 0;
 border-top: 1px solid $gray-lighter;
 background-color: transparent;
 z-index: 10;
 min-height: 60px;
 .btn {
    margin: 0 auto;
    width: 150px;
    display: block;
    margin-top: -23px;
    text-transform: uppercase;
    font-weight: 900;
 }
}
