.action-sheet {
 position: fixed;
 width: 100%;
 bottom: 0;
 left: 0;
 border-top: 1px solid $gray-lighter;
 background-color: transparent;
 z-index: 10;
 min-height: 60px;
 background-color: white;
 .btn {
    display: block;
    margin: -23px 10px 0 10px;
    text-transform: uppercase;
    font-weight: 900;
 }
}
