
.expense_sub_category {
  label {
    width: 100%;
    height: 1em;
    background-color: red;
  }

  input {
    visibility: hidden;
  }

  label:has(input[type="radio"]:checked) {
    background-color: green;
  }
}
