// Place all the styles related to the expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .card {
//   position: relative;
//   height: 200px;
//   width: 350px;
//   border-radius: 9px;
//   color: white;
//   margin: 0 auto;
//   background-size: cover;
//   flex: 0 1 auto;

// .form-wrapper {
//   display: none;
// }

// .big-button {

//   margin: 50px;
//   width: 200px;
//   text-center

// }

.expense_sub_category {
  label {
    width: 100%;
    height: 1em;
    background-color: red;
  }

  input {
    visibility: hidden;
  }

  label:has(input[type="radio"]:checked) {
    background-color: green;
  }
}
