<div class="yield-box">
  <div class="container">
  <h3>Profile updates</h3>

  <%= render 'form' %>

    <div class="center-button">
      <%= link_to "Back", profile_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
